<%= form_with url: post_comment_replies_path(post.slug, comment.id), action: "post" do |form| %>
  <div class="mt-2">
    <%= form.label "reply[content]", "Add a reply", class: "form-label" %>
    <%= form.text_area "reply[content]",
                   class: "form-control",
                   required: true,
                   placeholder: "Enter your thoughts here..." %>
  </div>
  <div>
    <%= form.submit "Add Reply", class: "btn btn-secondary mt-2" %>
  </div>
<% end %>
