<div class="d-flex align-content-center gap-2">
  <p>Posted by:
    <%= post.user.fullname %>
  </p>
  <div>
    <span class="badge round-pill <%= status_class(post.status) %>">
      <%= post.status.capitalize %>
    </span>
  </div>
</div>
