<article <%= dom_id(post) %>>
  <h2 class="card-title"><%= post.title %></h2>
  <% if user_signed_in? %>
    <%= render "post_details", post: post %>
  <% end %>
  <p class="card-text">
    <%= post.content %>
  </p>
</article>
