<h1>Latest Posts</h1>
<% if user_signed_in? %>
  <div>
    <%= link_to "New post", new_post_path, class: "btn btn-primary mb-3" %>
  </div>
<% end %>
<% if Post.count.zero? %>
  <h2 class="fs-5">No Posts found at the moment</h2>
  <% unless user_signed_in? %>
    <%= button_to "Create one today!",
    new_post_path,
    class: "btn btn-info",
    method: :get %>
  <% end %>
<% else %>
  <%= render "posts", posts: @posts %>
<% end %>
